*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(196, 204, 209);
}

form {
    background-color: aliceblue;
}
input{
    border-radius: 10px;
    border-width: 0.7px;
    border-color: rgb(177, 107, 16);
}







